<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="consulta-inicial-component">
  <template>
    <style>
      :host {
        display: block;
      }

      .container {
        position: relative;
        height: auto;
        margin: 10px;
        background-color: #fff;
        color: gray;
        padding: 20px;
        display: inline-block;
        width: 95%;
      }

      .row {
        display: inline-block;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }

      .col-2{
        float: left;
        width: 30%;
        text-align: left;
        margin-left: 35px;
        margin-top: 10px; 
      }

      .col-3{
        position: relative;
        display: inline-block;
        width: 20%;
        text-align: left;
        margin-left: 35px;
        margin-top: 10px;
        align-items: center;
      }

      .col-4{
        float: left;
        width: 15%;
        text-align: left;
        margin-left: 35px;
        margin-top: 10px; 
      }

      .title{
        text-align: center;
      }

      .div-label {
        display:inline-block;
        width:100%;
        margin-bottom: 5px; 
      }

      .div-text {
        display:inline-block; 
        width:100%; 
      }

      .txt-box-small{
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      ::placeholder{
        color: #33333348;
      }

      .btn{
        display: inline-block;
        border: 2px solid #08948e;
        border-radius: 10px; 
        color: #08948e;
        font-size: 14px;
        padding: 0.5rem 2rem;
        cursor: pointer;
        text-decoration: none;
        width: 70%;
        text-align: center;
      }

      .btn:hover{
        background: #3a98a28c;
        color: #fff;
        cursor: pointer;
      }

      /*
      .btn-2{
        display: inline-block;
        border: 2px solid #08948e;
        border-radius: 5px;
        color: #08948e;
        font-size: 14px;
        padding: 0.4em 0.1em;
        cursor: pointer;
        text-decoration: none;
        width: 100%;
        text-align: center;
      }

      .btn-2:hover{
        background: #3a98a28c;
        color: #fff;
        cursor: pointer;
      } */

      th {
        background-color: #08948e;
        color: #f1f1f1;
        padding: 15px;
      }

      td, th{
        border: 1px solid rgba(228, 228, 228, 0.904);
      }

      td{
        padding: 10px;
      }
    </style>
    <!--Start My Component-->
    <div class="container">

      <h2 class="title">CONSULTA EMPLEADOS (PERFIL D.O)</h2>
      <hr>

      <div class="row">
        <div class="col-3">
          <div class="div-label">
            <label for="">No. Empleado</label>
          </div>

          <div class="div-text">
            <input type="text" class="txt-box-small" placeholder="No. Empleado">
          </div>
        </div>

        <div class="col-3">
          <div class="div-label">
            <label for="">Tipo Esquema</label>
          </div>
  
          <div class="div-text">
            <select class="txt-box-small" name="" id="">
              <option value="">Tipo Esquema</option>
              <option value=""></option>
              <option value=""></option>
            </select>
          </div>
        </div>
        
        <div class="col-3">
          <div class="div-label">
            <label for="">Unidad Negocio</label>
          </div>
  
          <div class="div-text">
            <select class="txt-box-small" name="" id="">
              <option value="">Unidad de Negocio</option>
              <option value=""></option>
              <option value=""></option>
            </select>
          </div>
        </div>
  
        <div class="col-3">
          <div class="div-label">
            <label for="">No.Contrato</label>
          </div>
    
          <div class="div-text">
            <input type="text" class="txt-box-small" placeholder="No. Contrato">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <div class="div-label">
            <label for="">Reemplazo</label>
          </div>
  
          <div class="div-text">
            <input type="text" class="txt-box-small" placeholder="Reemplazo">
          </div>
        </div>
  
        <div class="col-3">
          <div class="div-label">
            <label for="">Empresa</label>
          </div>
    
          <div class="div-text">
            <select class="txt-box-small" name="" id="">
              <option value="">BBVA</option>
              <option value="">SANTANDER</option>
              <option value="">ETC</option>
            </select>
          </div>
        </div>
          
        <div class="col-3">
          <div class="div-label">
            <label for="">Razón Social</label>
          </div>
    
          <div class="div-text">
            <select class="txt-box-small" name="" id="">
              <option value="">Razón 1</option>
              <option value="">Razón 2</option>
              <option value="">Razón 3</option>
            </select>
          </div>
        </div>
    
        <div class="col-3">
          <div class="div-label">
            <label for="">Sub Cuenta</label>
          </div>
      
          <div class="div-text">
            <select class="txt-box-small" name="" id="">
              <option value="">Subcuenta 1</option>
              <option value="">Subcuenta 2</option>
              <option value="">Subcuenta 3</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <div class="div-label">
            <label for="">Año Servicio</label>
          </div>
    
          <div class="div-text">
            <input type="text" class="txt-box-small" placeholder="Año Servicio">
          </div>
        </div>
      </div>

      <fieldset style="border: 1px solid #00000033;"><legend>Filtros</legend>
      <div class="row">
          <div class="col-2">
            <div class="div-label">
              <label for="">Por Fecha De</label>
            </div>

            <div class="div-text">
              <select class="txt-box-small" name="" id="">
                <option value="">Contratación </option>
                <option value="">Baja </option>
                <option value="">Inicio Ultimo Contrato </option>
                <option value="">Vencimiento de Contrato</option>
              </select>
            </div>
          </div>

          <div class="col-2">
            <div class="div-label">
              <label for="">Desde</label>
            </div>

            <div class="div-text">
              <input type="date" class="txt-box-small">
            </div>
          </div>

          <div class="col-2">
            <div class="div-label">
              <label for="">Hasta</label>
            </div>

            <div class="div-text">
              <input type="date" class="txt-box-small">
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-4">
          <a href="#" class="btn">Buscar</a>
        </div>

        <div class="col-4">
          <a href="#" class="btn">Agregar</a>
        </div> 
      </div>
    </fieldset>

    <div class="row">
      <table style="width: 100%; margin-top: 10px; border-collapse: collapse; border: 1px solid #444;">
        <thead>
          <tr>
            <!--<th>EDITAR</th>-->
            <th>NO. EMPLEADO</th>
            <th>ESTATUS</th>
            <th>NOMBRE EMPLEADO</th>
            <th>SEXO</th>
            <th>FECHA DE NACIMIENTO</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <!--<td><a href="#" class="btn-2">Editar</a></td>-->
            <td>#1</td>
            <td>ACTIVO</td>
            <td>LUIS MIGUEL GARCIA</td>
            <td>HOMBRE</td>
            <td>30/06/1996</td>
          </tr>

          <tr style="background: lightgray;">
            <!--<td><a href="#" class="btn-2">Editar</a></td>-->
            <td>#2</td>
            <td>BAJA</td>
            <td>IRIS LIZETH</td>
            <td>MUJER</td>
            <td>28/11/1995</td>
          </tr>

          <tr>
            <!--<td><a href="#" class="btn-2">Editar</a></td>-->
            <td>#3</td>
            <td>ACTIVO</td>
            <td>VICTOR MANUEL</td>
            <td>HOMBRE</td>
            <td>11/03/1997</td>
          </tr>
  
          <tr style="background: lightgray;">
            <!--<td><a href="#" class="btn-2">Editar</a></td>-->
            <td>#4</td>
            <td>BAJA</td>
            <td>MANUEL</td>
            <td>HOMBRE</td>
            <td>16/11/1993</td>
          </tr>

        </tbody>
      </table>
    </div>

    </div>
    <!--End My Component-->
  </template>

  <script>
    class ConsultaInicialComponent extends Polymer.Element {
      static get is() { return 'consulta-inicial-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'consulta-inicial-component'
          }
        };
      }
    }

    window.customElements.define(ConsultaInicialComponent.is, ConsultaInicialComponent);
  </script>
</dom-module>
